html{
    scroll-behavior: smooth;
    zoom: 1.0;
}
*{
    margin: 0;
    padding: 0;
    color: #E2FFFF;
}
body{
    background: linear-gradient(78deg, rgba(62, 62, 62, 0.432) 0%, rgba(255, 255, 255, 0.08) 84.55%, rgba(11, 88, 132, 0.233) 100%), linear-gradient(109deg, rgb(151, 98, 168) 0%, rgb(110, 69, 124) 13.22%, rgb(79, 42, 91) 43.22%, rgb(54, 10, 69) 71.01%);
}
.header{
    background: linear-gradient(78deg, rgba(62, 62, 62, 0.432) 0%, rgba(255, 255, 255, 0.08) 84.55%, rgba(11, 88, 132, 0.233) 100%), linear-gradient(109deg, rgb(151, 98, 168) 0%, rgb(110, 69, 124) 13.22%, rgba(79, 42, 91, 0.836) 43.22%, rgb(54, 10, 69) 71.01%);
    min-height: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

    position:fixed;
    top: 0;
    transition: 1s;
}
.header a{
    text-decoration: none;
    color: #E2FFFF;
    font-size: 40px;
    transition: .5s;
}

.header a:hover{
    text-decoration: initial underline 5px #E2FFFF;
    transition: ease-in .5s;
}
.profile{
    padding: 5rem;
    background: linear-gradient(78deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.08) 84.55%, rgba(11, 88, 132, 0.15) 100%), linear-gradient(120deg, #9662A8 0%, #6E457C 13.46%, #4F2A5B 44.01%, #4F0E65 72.32%);
box-shadow: 10px 10px 250px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile .title{
    font-size: 4.5rem;
}

.profile .nme  img{
    height: 100%;
     width: 100%;
     object-fit: contain;
}
.profile .nme{
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: .5rem;
}
.profile .nme h2{
    padding: .5rem;
    font-size: 3rem;
}
.profile .nme button{
    padding: .6rem;
    font-family: Inria Serif;
    border-radius: 0.6rem;
    background: #1D0F30;
    color: white;
    font-size: 2rem;
    border: 0;
}
.abt_me{
    margin: 5rem;
    padding: 6rem 0 6rem 0;
    background: #1D0F30;

    display: flex;
    flex-direction: column;

    align-items: center;
}
.abt_me h2{
    font-size: 3rem;
}
.abt_me p{
    padding: 3rem;
    font-size: 1.5rem;
}
.abt_me .icons{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
}
.proyects .t{
    padding: 3rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 10px 4px rgba(0, 0, 0, 0.50);

}
.proyects .proyects_c{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4rem;
}

.proyects .proyects_c .proyect{
    background: rgba(29, 15, 48, 0.65);
    display: grid;
    padding: .5rem;
    min-height: fit-content;
    max-width: 600px;
    max-height: 400px;

    justify-items: center;
    gap: 0;

    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
   gap: 1rem;
    grid-template-areas: 
      "p img"
      "p img"
      "p div"; 
  }
.proyects .proyects_c .proyect p{
    grid-area: p;
}
.proyects .proyects_c .proyect img{
    grid-area: img;
}
.proyects .proyects_c .proyect div{
    grid-area: div;
}

.proyects .proyects_c .proyect img{
    width: 266px;
}

.proyects .proyect p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.proyects .proyect p,
.proyects .proyect p a,
.proyects .proyect div h2{
    padding: 1rem;
    background: #d9d9d9b7;
    color: black;
    text-align: center;
    font-size: 1.3rem;
    align-items: center;
}
.proyects .proyect p a{
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    width: fit-content;

    transition: background-color ease-in .3s ; 
    transition: color ease-in .3s ;
}
.proyects .proyect p a:hover{
    background-color: #1D0F30;
    color: #E2FFFF;
}

.contact h2{
    padding: 4rem 3rem 3rem 3rem;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 10px 4px rgba(0, 0, 0, 0.50);
}
.contact p{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}
.contact button{
    padding: .6rem;
    font-family: Inria Serif;
    border-radius: 0.6rem;
    background: #1D0F30;
    color: white;
    font-size: 1.5rem;
    border: 0;
    margin-top: 2rem;
}
.contact .contacts{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1.5rem;
    gap: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
}
@media screen and (max-width: 600px) {

    html{
        padding: 0;
        margin: 0;
    }
    .header{
        width: 100%;
    }
    .header a{
        font-size: 25px;
    }

    .profile{
        padding-top: 2rem;
        width: 100%;
    }
    .profile .title{
        margin-top: 5rem;
    }
    .profile .nme h2,
    .profile .nme button{
        margin-left: 2rem;
    }

    .abt_me{
        width: 100vh;
        margin: 0;
        gap: 5rem;
    }
    .abt_me p{
        padding: 1rem 2rem 3rem 2rem ;
    }
    
    
    .proyects .proyects_c{
        height: 600px;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: 5rem;
        align-items: center;
    }
    .proyects .proyects_c .proyect{
        height: 700px;
        scroll-snap-align: center;
    }
    .proyects .proyects_c .proyect p{
        width: 10rem;
    }
  }
  @media screen and (max-width:426px) {
    .header{
        width: 100%;
    }

    .profile{
        width: max-content;
        padding-top: 2rem;
    }
    .contact{
        width: 100vw;
    }
  }